.teamInfoContainer {
  //width: 90%;
  .heading {
    text-align: center;
    //text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 2rem;
    font-weight: bold;
    // background: linear-gradient(80deg, #ff1e50 20%, #232882);

    //color: transparent;
    font-size: 2.5rem !important;
    line-height: 1.5rem;
  }

  .matchDetailsContainer {
    a {
      text-decoration: none;
      color: white;
    }
    //  background-color: aqua;
    //min-height: 10rem;
    justify-content: space-between;
    .smallCards {
      align-items: center;
      .btn {
        padding: 0 0 !important;
        border-radius: 0px;
      }
      .btn.btn-link {
        color: white;
        text-decoration: none;
        letter-spacing: 1px;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
