.teamInfoContainer {
  //width: 90%;
  .heading {
    text-align: center;
    //text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 1rem;
  }
  .matchInfoContainer {
    .matchesInfo {
      // flex-basis: 50%;
    }
  }
  .matchDetailsContainer {
    //  background-color: aqua;
    //min-height: 10rem;
    justify-content: space-between;
    .smallCards {
      align-items: center;
      .btn {
        padding: 0 0 !important;
        border-radius: 0px;
      }
      .btn.btn-link {
        color: white;
        text-decoration: none;
        letter-spacing: 1px;

        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
  }
}
