@import "../../variables";

.smallCardContainer,
.bigCardContainer {
  color: #12125e;

  padding: 0.5rem 0.5rem;
  background-color: white;
  &:hover {
    transform: translateY(-5px);
  }

  .line {
    margin: 0.5rem 0;
  }
}

.smallCardContainer {
  width: 11rem;
  box-shadow: #26394d 0px 20px 30px -10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  height: 10rem;
  background-image: linear-gradient(
    60deg,
    $primary-color-light,
    $primary-color-light
  );
  color: white;

  .line {
    margin: 0 0;
    &.head {
      color: #19388a;
    }
  }
}

.bigCardContainer {
  color: rgb(238, 223, 12);
  //background-color: cornsilk;
  height: 10.5rem;
  margin: 2rem 0 2rem 0;
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background-image: linear-gradient(
    50deg,
    $primary-color-dark,
    $primary-color-dark
  );

  &:hover {
    transform: translateY(0px);
  }

  .result {
    .labelContainer {
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}
