header {
  border-bottom: 1px solid white;
  position: relative;
  .logo {
    width: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .labelContainer {
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-style: oblique;
    color: white;
  }
  .information {
    flex: 1;
    .blink {
      margin-bottom: 0.5rem;
    }
    h1 {
      margin-left: 45%;
    }
  }
}
